[project]
	description = A minimal toy implementation of strace(1)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chengyu Zheng (nearffxx)
[access "refs/for/refs/*"]
	read = group user/Chengyu Zheng (nearffxx)
	push = group user/Chengyu Zheng (nearffxx)
	label-Code-Review = -2..+2 group user/Chengyu Zheng (nearffxx)
	label-Verified = -1..+1 group user/Chengyu Zheng (nearffxx)
	rebase = group user/Chengyu Zheng (nearffxx)
	removeReviewer = group user/Chengyu Zheng (nearffxx)
	submit = group user/Chengyu Zheng (nearffxx)
[access "refs/heads/*"]
	read = group user/Chengyu Zheng (nearffxx)
	create = group user/Chengyu Zheng (nearffxx)
	push = +force group user/Chengyu Zheng (nearffxx)
	pushMerge = group user/Chengyu Zheng (nearffxx)
[access "refs/tags/*"]
	push = group user/Chengyu Zheng (nearffxx)
	push = +force group user/Chengyu Zheng (nearffxx)
