[project]
	description = A minimal toy implementation of strace(1)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nearffxx
[access "refs/for/refs/*"]
	read = group user/nearffxx
	push = group user/nearffxx
	label-Code-Review = -2..+2 group user/nearffxx
	label-Verified = -1..+1 group user/nearffxx
	rebase = group user/nearffxx
	removeReviewer = group user/nearffxx
	submit = group user/nearffxx
[access "refs/heads/*"]
	read = group user/nearffxx
	create = group user/nearffxx
	push = +force group user/nearffxx
	pushMerge = group user/nearffxx
[access "refs/tags/*"]
	push = group user/nearffxx
	push = +force group user/nearffxx
